%% -*- mode: erlang -*-

{erl_opts, [debug_info,
	    {parse_transform, lager_transform}]}.

{project_plugins, [rebar3_proper]}.
{profiles,
 [{test, [
	  {erl_opts, [nowarn_export_all]},
	  {deps, [proper]}
	 ]}
 ]}.

{deps, [
	{kiks, {git, "git://github.com/Raphexion/kiks.git", {branch, "master"}}},
	{erlmemfs, {git, "git://github.com/Raphexion/erlmemfs.git", {branch, "master"}}},
	{lager, "3.6.9"},
	{jiffy, "0.15.2"}
       ]}.

{lager, [
	 {log_root, "/tmp/log/rabbitmq2disk"},
	 {handlers, [
		     {lager_console_backend, [{level, info}]},
		     {lager_file_backend, [{file, "error.log"}, {level, error}]},
		     {lager_file_backend, [{file, "console.log"}, {level, info}]}
		    ]}
	]}.

{shell, [{apps, [rabbitmq2disk]}]}.
